.reset_pass_after_mail_form{
    margin-bottom: 140px;
}
.reset_pass_after_mail_margin{
    margin-top: 70px;
    margin-bottom: 50px;
}
.reset_pass_after_mail_info__options{
    max-width: 350px;
    margin: auto;
    text-align: left;
    margin-bottom: 35px;
}
.reset_pass_after_mail_input_icon_margin{
    margin-bottom: 60px;
}
.reset_pass_after_label{
    font-weight: bold;
    margin-bottom: 60px;
    margin-top: 40px;
}
.error_margin{
    margin-bottom: 35px;
}
@media all and (max-width: 768px) {
    .reset_pass_after_mail_form{
        margin-bottom: 113px;
    }
    .reset_pass_after_mail_margin {
        margin-top: 60px;
        margin-bottom: 40px;
    }
    .reset_pass_after_mail_info__options{
        max-width: 330px;
    }
    .reset_pass_after_mail_input_icon_margin {
        margin-bottom: 50px;
    }
    .reset_pass_after_mail_form{
        margin-bottom: 113px;
    }
    .reset_pass_after_label{
        margin-bottom: 50px;
        margin-top: 30px;
    }
}
@media all and (max-width: 417px) {
    .reset_pass_after_mail_form{
        margin-bottom: 90px;
    }
    .reset_pass_after_mail_margin {
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .reset_pass_after_mail_info__options{
        margin-bottom: 8px;
    }
    .error_margin{
        margin-bottom: 8px;
    }
    .reset_pass_after_mail_input_icon_margin {
        margin-bottom: 40px;
    }
    .reset_pass_after_mail_icon{
        width: 40px;
    }
    .reset_pass_after_label{
        margin-bottom: 40px;
        margin-top: 20px;
    }
}