.setting_menu_common_buttons{
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    padding: 40px 0 0 0; 
    & > .btn_ui{
        margin: 0;
        margin-right: 30px;
        margin-bottom: 10px;
    }
    & > .btn_ui_border{
        margin: 0;
        margin-bottom: 10px;
    }
}
.setting_menu_common_buttons_webinar{
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    padding: 0;
    padding-top: 30px;
    & > .btn_ui{
        height: 40px;
        margin: 0;
        margin-right: 20px;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    & > .btn_ui_border{
        height: 40px;
        margin: 0;
        font-size: 16px;
        line-height: 24px;
        & > span{
            height: 36px;
        }
        margin-bottom: 10px;
    }
}
@media all and (max-width: 768px) {
    .setting_menu_common_buttons{
        padding: 30px 0 0px 0; 
    }
}
@media all and (max-width: 500px) {
    .setting_menu_common_buttons{
        flex-wrap: wrap;
    }
    .setting_menu_common_buttons_webinar{
        flex-wrap: wrap;
    }
}