.admin_chat_message__checked{
  .admin_chat_message_text{
    background-color: #3366FF;
    color: #FFFFFF;
  }
  .checkbox_message{
    opacity: 1;
  }
}
.admin_chat_message__header{
  margin-bottom: 5px;
  display: flex;
  text-align: left;
}
