.save_setting_icon{
  height: 40px;
  width: 0;
  opacity: 0;
  margin: 0 10px 0 0;
  transition: width 300ms, opacity 300ms;
}

.save_setting_icon_success{
  width: 40px;
  opacity: 1;
  path{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 3s linear forwards;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
