.res_pass_from{
    margin-bottom: 140px;
}
.res_pass_margin{
    margin-top: 70px;
    margin-bottom: 50px;
}
.res_pass_info_options{
    max-width: 350px;
    text-align: left;
    margin-bottom: 11px;
    margin-left: auto;
    margin-right: auto;
}
.res_pass_line{
    margin-top: 50px;
    margin-bottom: 40px;
}
.res_pass_lavel_one{
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 50px;
}
.res_pass_lavel_two{
    margin-bottom: 60px;
}
.error_option{
    margin-bottom: 35px;
}
@media all and (max-width: 768px) {
    .error_option{
        margin-bottom: 38px;
    }
    .res_pass_from{
        margin-bottom: 113px;
    }
    .res_pass_margin{
        margin-top: 60px;
        margin-bottom: 40px;
    }
    .res_pass_info_options{
        max-width: 320px;
        margin-bottom: 17px;
    }
    .res_pass_lavel_one{
        margin-bottom: 20px;
        margin-top: 40px;
    }
    .res_pass_lavel_two{
        margin-bottom: 50px;
    }
    .res_pass_line{
        width: 168px;
        margin-top: 40px;
        margin-bottom: 30px;
    }
}
@media all and (max-width: 417px) {
    .res_pass_from{
        margin-bottom: 90px;
    }
    .res_pass_margin{
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .res_pass_info_options{
        max-width: 290px;
        margin-bottom: 17px;
    }
    .res_pass_line{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .res_pass_label{
        margin: auto;
        width: 70%;
        line-height: 30px;
    }
    .res_pass_icon{
        width: 48px;
    }
}